@media screen and (max-width:600px) {
    .invitation{
        font-size: 5vw;
        max-height: 70%;
    }

    .invitation span{
        font-size: 50px;
    }

    .date{
        font-size:70px;
        padding-right: 10px;
    }

    .main-logo{
        font-size:64px !important;
        padding-top: 80px;
    }

    .slogan{
        font-size: 20px !important;
        padding-left: 10px !important;
    }

    .location{
        margin-top: 75px;
    }
    .location span, .location p{
        font-size: 20px ; 
    }

    .location p{
        padding-top: 30px;
    }
    .location h2{
        font-size: 64px;
        padding-bottom: 10px;
    }

    .location h2::after{
        font-size: 32px;
    }

    .location span:last-of-type{
        margin-bottom: 30px;
    }

    .location .button{
        width: 200px;
        height: 40px;
        font-size: 16px;
        margin: 30px 0;
        margin-bottom: 60px;
    }
  
    .timing .head{
        font-size: 64px;
    }

    .timing .head::after{
        font-size: 32px;
        bottom: 20px;
    }

    .dress-code{
        margin-top: 75px;
    }

    .dress-code .logo{
        height: 150px;
    }

    .dress-code .logo h2{
        font-size: 60px;
    }
    .dress-code .logo h2:last-child::after{
        font-size: 20px;
        padding-top: 30px;
    }

    .dress-code p{
        width: 300px;
        font-size: 20px;
    }

    .dress-code h3{
        font-size: 24px;
    }

    .dress-code h3::after{
        font-size: 13px;
    }

    .colors{
        margin-top: 30px;
    }
    .colors .color-circle{
        width: 70px !important;
        height: 70px !important;
    }

    .guests{
        width: 300px;
    }

    .guests .logo h2{
        font-size: 64px;
    }

    .guests .logo h2::after{
        font-size: 20px;
    }

    .guests p{
        width: 300px;
        font-size: 20px;
        margin-top: 35px;
    }
    .guests input[type="text"]{
        font-size: 15px;
        box-sizing: border-box;
        width: 100%
    }

    .guests .yes-no label{
        font-size: 15px;
    }

    .guests form{
        margin-top: 70px;
        gap:30px;
        width: fit-content;
    }

    .guests form p{
        font-size: 15px;
        margin-top: 0;
    }

    .guests .contactsButton .button{
        width: 130px;
        height: 30px;
    }

    .guests .contactsButton .button a{
        font-size: 10px;
    }

    .guests .contactsButton{
        gap:30px;
        margin: 30px 0;
    }

    .guests .yes-no label input{
        width: 1em;
        height: 1em;
        margin-right: 10px;
    }

    footer h2{
        font-size: 32px;
        padding: 40px 90px;
    }

    footer .dateBG{
        font-size: 60px;
        max-height: 130px;
    }

    footer .photo{
        background-size: cover;
        background-position: center;
        height: 50vh;
    }

    footer .main-logo{
        padding-top: 0px;
    }

    .money{
       
        font-size: 20px;
        
    }

}

@media screen and (max-width:870px){
    .header .main-logo{
        align-self: center;
        max-width: 150px;
        text-align: center;
    }

    .header .date-wrap
    {
        align-self: center;
    }

    .header{
        padding-left: 40px;
        padding-right: 40px;
    }

    .dress-code .logo{
        width: 100vw;
    }
   
    .colors{
        margin-top: 30px;
    }
    .colors .color-circle{
        width: 100px;
        height: 100px;
    }

}
