@media screen and (max-width:600px) {
    .invitation{
        font-size: 5vw;
        max-height: 70%;
    }

    .invitation span{
        font-size: 50px;
    }

    .date{
        font-size:64px;
    }

    .logo{
        font-size:64px !important;
    }

    .slogan{
        font-size: 20px !important;
        padding-left: 10px !important;
    }

    .location{
        margin-top: 75px;
    }
    .location span, .location p{
        font-size: 20px ; 
    }

    .location p{
        padding-top: 30px;
    }
    .location h2{
        font-size: 64px;
        padding-bottom: 10px;
    }

    .location h2::after{
        font-size: 32px;
    }

    .location span:last-of-type{
        margin-bottom: 50px;
    }

    .location .button{
        width: 200px;
        height: 40px;
        font-size: 16px;
    }
  
    .timing .head{
        font-size: 64px;
    }

    .timing .head::after{
        font-size: 32px;
        bottom: 20px;
    }
}

@media screen and (max-width:800px){
    .header .logo{
        align-self: center;
        max-width: 150px;
        text-align: center;
    }

    .header .date-wrap
    {
        align-self: center;
    }

    .header{
        padding-left: 40px;
        padding-right: 40px;
    }

}