@font-face {
    font-family: "Mak";
    src: url('../fonts/MAK.eot') format('embedded-opentype'),
        url('../fonts/MAK.woff') format('woff'),
        url('../fonts/MAK-bold.eot') format('embedded-opentype'),
        url('../fonts/MAK-bold.woff') format('woff')
}

@font-face {
    font-family: "MakBold";
    src: url('../fonts/font.woff2') format('woff'),
        url('../fonts/font.woff') format('woff'),
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.wrap{
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto;
}

header{
    height: 50px;
    background-color: #606060;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "MakBold";
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
    padding-left: 120px;
    margin-bottom: 50px;
}

.date-wrap{
    display: flex;
    align-items: end;
    align-self: self-start;
    
}

.date-wrap .slogan{
    color: #606060;
    font-family: Mak;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 25px;
}
.date{
    display: flex;
    flex-direction: column;
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    border-right: 1px solid black;
    padding-right: 25px;
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    background-position: center;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.header .logo{
    color: #8D8D8D;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    align-self: self-end;
    padding-top: 40px;
}

.invitation-image{
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.invitation{
    height: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    max-width: 700px;
    max-height: 600px;
    margin: 0 auto;
    text-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}



.invitation span{
    font-size: 96px;
    font-family: "Mak";
    font-weight: 200;
   
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 125px;
}

section .head{
    color: #606060;
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    position: relative;
    display: block;
    padding-bottom: 30px;
}

section .head::after{
    content: "локація";
    display: block;
    text-align: center;
    font-family: Poiret One;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom:0;
    
}

.location p{
    color: #363636;
    font-size: 32px;
    font-weight: bold;
    padding-top: 60px;
}

.location span{
    display: block;
    color: #363636;
    font-size: 32px;
}

.location span:first-of-type{
    padding-top: 40px;
}


.location .button{
    width: 290px;
    height: 55px;
    background-color: #D9D9D9;
    font-family: Mak;
    font-size: 24px;
    font-weight: 300;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.location .button::before{
    content: url(../img/location.png);
    width: 23px;
    height: 34px;
    position: absolute;
    left:20px;
    top: 50%;
    transform: translateY(-50%);
}

.location .button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #363636;
    text-decoration: none;
}
.location .button:hover{
    background-color: #c0c0c0;
}

.location .button:active{
    background-color: #afafaf;
}

.timing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #606060;
    color: white;
}

.timing .head{
    color: white;
    text-transform: uppercase;
}

.timing .head::after{
    content: "таймінг";
    right: -20%;
    text-transform: lowercase;
}

.timing .bar{
   
    height: 67px;
    width: 2px;
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timing-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-slot{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.time-slot span{
    font-family: Mak;
    font-size: 48px;
    font-weight: 300;
    color: #FFF;
    position: relative;
    width: 100%;
    
}

.time-slot span::after{
    content: "велком бар";
    display: block;
    font-size: 24px;
    position: absolute;
    bottom:-20%;
    margin: 0 auto;
    width: 100%;
}

.time-slot.ceremony span::after{
    content: "виїздна церімонія";
}

.time-slot.dinner span::after{
    content:"вечеря" ;
}

.time-slot.dance span::after{
    content: 'танці';
}

.time-slot.evening span::after{
    content: "вечірня церемонія";
}

.time-slot.evening{
    margin-bottom: 10px;
}
/* .time-slot span:last-child{
    font-family: Poiret One;
    font-size: 24px;
    font-weight: 400;
} */

.timing .caption{
    margin-top: 10px;
    margin-bottom: 10px;
}