@font-face {
    font-family: "Mak";
    src: url('../fonts/MAK.eot') format('embedded-opentype'),
        url('../fonts/MAK.woff') format('woff'),
        url('../fonts/MAK-bold.eot') format('embedded-opentype'),
        url('../fonts/MAK-bold.woff') format('woff')
}

@font-face {
    font-family: "MakBold";
    src: url('../fonts/font.woff2') format('woff'),
        url('../fonts/font.woff') format('woff'),
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.wrap{
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto;
}

header{
    height: 50px;
    background-color: #606060;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "MakBold";
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 120px;
    padding-left: 120px;
    margin-bottom: 50px;
}

.date-wrap{
    display: flex;
    align-items: end;
    align-self: self-start;
    
}

.date-wrap .slogan{
    color: #606060;
    font-family: Mak;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 25px;
}
.date{
    display: flex;
    flex-direction: column;
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    border-right: 1px solid black;
    padding-right: 25px;
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    background-position: center;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.main-logo{
    color: #8D8D8D;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    align-self: self-end;
    padding-top: 40px;
}

.invitation-image{
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.invitation{
    height: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    max-width: 700px;
    max-height: 600px;
    margin: 0 auto;
    text-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}



.invitation span{
    font-size: 96px;
    font-family: "Mak";
    font-weight: 200;
   
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 125px;
}

section .head{
    color: #606060;
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    position: relative;
    display: block;
    padding-bottom: 30px;
}

section .head::after{
    content: "локація";
    display: block;
    text-align: center;
    font-family: Poiret One;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom:0;
    
}

.location p{
    color: #363636;
    font-size: 32px;
    font-weight: bold;
    padding-top: 60px;
}

.location span{
    display: block;
    color: #363636;
    font-size: 32px;
}

.location span:first-of-type{
    padding-top: 40px;
}


.location .button{
    width: 290px;
    height: 55px;
    background-color: #D9D9D9;
    font-family: Mak;
    font-size: 24px;
    font-weight: 300;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.location .button::before{
    content: url(../img/location.png);
    width: 23px;
    height: 34px;
    position: absolute;
    left:20px;
    top: 50%;
    transform: translateY(-50%);
}

.location .button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #363636;
    text-decoration: none;
}
.button:hover{
    background-color: #c0c0c0;
}

.button:active{
    background-color: #afafaf;
}

.timing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #606060;
    color: white;
    padding-top:125px;
}

.timing .head{
    color: white;
    text-transform: uppercase;
}

.timing .head::after{
    content: "таймінг";
    right: -20%;
    text-transform: lowercase;
}

.timing .bar{
   
    height: 67px;
    width: 2px;
    background-color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timing-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-slot{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.time-slot span{
    font-family: Mak;
    font-size: 48px;
    font-weight: 300;
    color: #FFF;
    position: relative;
    width: 100%;
    
}

.time-slot span::after{
    content: "велком бар";
    display: block;
    font-size: 24px;
    position: absolute;
    bottom:-20%;
    margin: 0 auto;
    width: 100%;
}

.time-slot.ceremony span::after{
    content: "виїздна церімонія";
}

.time-slot.dinner span::after{
    content:"вечеря" ;
}

.time-slot.dance span::after{
    content: 'танці';
}

.time-slot.evening span::after{
    content: "вечірня церемонія";
}

.time-slot.evening{
    margin-bottom: 10px;
}

.timing .caption{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dress-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 125px;
}


.dress-code .logo{
    width: 680px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 50%);
}

.dress-code .logo h2
{
    color: #606060;
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    text-transform: uppercase;
}
.dress-code .logo h2:first-child{
    grid-column: 1 / 3;
}
.dress-code .logo h2:last-child{

    grid-column: 2 / 4;
    line-height: 0;
    display: flex;
    flex-direction: column;
    
}
.dress-code .logo h2:last-child::after{
    content: 'дресс-код обов''язково*';
    font-family: "Poiret One";
    font-size: 40px;
    font-weight: 400;
    padding-top: 60px;
    grid-column: 1 / 4;
    text-transform: lowercase;
}

.dress-code p{
    width: 600px;
    color: #363636;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
}

.dress-code h3{
    color: #606060;
    text-align: center;
    font-family: Mak;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.dress-code h3::after{
    content: '*білий/сірий /чорний /металік';
    color: #606060;
    font-family: "Poiret One";
    font-size: 24px;
    font-weight: 400;
    text-transform: lowercase;
}

.colors{
    display: flex;
    width: fit-content;
    transform: translateX(12%);
    margin-top: 70px;
}

.colors .color-circle{
    display: block;
    height: 173px;
    width: 173px;
    border-radius: 50%;
    background-color: #363636;
    margin-left: -5%;
    box-shadow: inset 2px 2px 10px #2E2E2E;
}

.color-circle.gray{
    background-color: #A7A7A7;
    z-index: 5;
}
.color-circle.white{
    background-color: #FFFFFF;
    z-index: 4;
}
.color-circle.black{
    background-color: #2E2E2E;
    z-index: 3;
}
.color-circle.img{
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}


.guests{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
    margin: 0 auto;
}
.guests .logo h2{
    display: block;
    color: #606060;
    font-family: Mak;
    font-size: 128px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 125px;
    position: relative;
}

.guests .logo h2::after{
    content: "Прохання відповісти*";
    display: block;
    font-family: "Poiret One";
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: -15%;
    text-transform: capitalize;
}

.guests>p{
    width: 600px;
    color: #363636;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    margin: 90px auto 0 auto;
}

.guests input[type="text"]{
    border: none;
    display: flex;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid #606060;
    width: 100%;
    font-family: "Poiret One";
    font-size: 32px;
    font-weight: 400;
}

.guests form{
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 70px;
}

.guests .form input{
    margin: 20px;
}

.guests input[type="text"]:focus{
    outline: none;
}

.guests .yes-no label{
    display: flex;
    font-family: "Poiret One";
    font-size: 32px;
    font-weight: 400;
    align-items: center;
}

.guests .yes-no label input{
    display: inline;
    border: 0;
    width: 2em;
    height: 2em;
    margin-right: 50px;
}

.guests form > p{
    font-family: "Poiret One";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.guests .contactsButton{
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap:70px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.guests .contactsButton .button{
    width: 270px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 7px;   
}

.guests .contactsButton .button a{
    color: #363636;
    font-family: Mak;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer{
    border-top: 1px solid #606060;
}

footer h2{
  color: #606060;
  text-align: center;
  font-family: "Poiret One";
  font-size: 64px;
  font-weight: 400;
  padding: 110px;
}

footer .dateBG{
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Mak;
    font-size: 150px;
    font-weight: 300;
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main-logo{
    background-image: url(../img/rick-rothenberg-eIUQ10YU7dU-unsplash.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   text-shadow: none;
   background-position: left;
   background-size: cover;
}

footer .photo{
    width: 100vw;
    height: 70vh;
    background-image:url(../img/photo.png) ;
   background-repeat: no-repeat;
    background-position: center top;
}